body {
    /*padding: 0;
    overflow: hidden;*/
    font-family: helvetica, arial, sans-serif;
}

p{
  font-weight:normal;
  font-family: arial;
  font-size:15px;
}

.map {
    position: absolute;
    height: 100%;
    right: 0;
    width: 77%;
    top: 0;
    bottom: 0;
}

.range {
  position: absolute;
  top: -8px;
  right: 16px;
  width: 73%;
  z-index: 99998;

  }


.sidebar {
    /*position: absolute;*/
    left: 0px;
    width: 20%;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
}

.title{
  /*position: absolute;*/
  top: 10px;
  left: 020px;
  font-family: helvetica, arial, sans-serif;
  font-size:20px;
  font-weight:bold;
}


#button-next {
  position: absolute;
  margin-top: -20px;
  color: rgba(187, 139, 36, 0.72);
  font-weight: normal;
  font-size: 15px;
  transition: 0.6s ease;
  z-index: 2000;
  background-color: #222;
  top: 85px;
  right:10%;
  border: none;
}

#button-prev {
  position: absolute;
      margin-top: -20px;
      color: rgba(187, 139, 36, 0.72);
      font-weight: normal;
      font-size: 15px;
      transition: 0.6s ease;
      z-index: 2000;
      background-color: #222;
      top: 85px;
      border: none;
      right: 17%;
}

#button-reset {
  position: absolute;
      margin-top: -20px;
      color: rgba(216, 216, 216, 0.91);
      font-weight: normal;
      font-size: 15px;
      transition: 0.6s ease;
      z-index: 2000;
      background-color: rgba(187, 139, 36, 0.72);
      top: 85px;
      border: none;
      right: 3%;
}


/* On hover, add a black background color with a little bit see-through */
#button-prev, .#button-next {
  background-color: white;
}
